body{
    margin: 0;
    background-color: goldenrod;

}
h1{
    text-align: center;
    color: gold;
    background-color: dodgerblue;
    font-size: 60px;
}
img{
    width: 400px;
    display: block;
    margin: 0 auto;
}
p{
    color: darkblue;
    background-color: dodgerblue;
    font-size: 45px;
    margin: 10px 40px;
}
a{
    text-decoration: none;
    color: gold;
}
.img{
    max-width: 200px;
    max-height: 400px;
    margin-left: 140px;
}
.about{
    font-size: 30px;
    margin-right: 300px;
    margin-top: 50px;
}
.list{
    color: darkblue;
    display: inline-block;
    margin-left: 40px;
    font-size: 30px;
    background-color: deepskyblue;
}
.text{
    font-size: 50px;
    margin-left: 80px;
    margin-top: 60px;
}
.item{
    margin: 50px 30px;
    border: solid;
    border-color:deepskyblue;

}
a:hover{
    color: dodgerblue;
    text-decoration: underline;
}