body{
    margin: 0;
    font-family: "Nunito", sans-serif;
}
/*index*/
.header-menu {
    height: 100vh;
    background-color: royalblue;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.hm{
    padding: 0;
}
.header-menu li {
    display: inline;
    margin: 0 5px;
}

.link_menu {
    text-decoration: none;
    background: transparent;
    height: 140px;
    color: lemonchiffon;
    font-size: 40px;
    border-radius: 20px;
    padding: 9px 20px;
    transition: 0.3s;
}

.link_menu:hover {
    background: #fc6a57;
    color: #fff;
}

/*+++++++++++blue_blocks+++++++++++*/

.colm{
    margin: 0 auto;
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.bg{
    background-color: #2269bb;
}

.text{
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.widgets, .contact{
    margin: 20px 20px 10px 20px;
    width: 1060px;
    height: 350px;
}

.size_widgets{
    width: 1060px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.widget{
    background-color: #16457a;
    margin: 10px 0;
    width: 330px;
}
.contact{
    margin: 10px 20px 20px 20px;
    height: 900px;
}

/*----------------cards_1----------------*/
.container{
    margin: 100px auto;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}


.form_a{
    width: 300px;
    height: 400px;
    margin: 10px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form_a h2{
    margin-top: 80px;
}
.container p{
    text-align: center;
    color: gray;
    font-size: 18px;
    line-height: 2;
    margin: 0 10px;
}
span{
    width: 200px;
    height: 50px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

span:hover{
    background-color: #2269bb;
    color: white;
}