body{
    margin: 0;
    font-family: "Nunito", sans-serif;
}

header{
    background-color: #CED8E1;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#inp{
    width: 200px;
    height: 60px;
    margin-left: 100px;
    border-radius: 10px;
    background-color: #0F2A3D;
    color: white;
    font-size: 20px;
    padding-left: 20px;

}
.icons{
    height: 40px;
    font-size: 35px;
    margin-right: 200px;
    color: #0F2A3D;
}

.fa-magnifying-glass{
    margin-right: 15px;

}
.fon_t{
    background-color: #0F2A3D;
    width: 100%;
    height: 500px;

}
.container{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -260px;
}


.form_a{
    width: 300px;
    height: 400px;
    margin: 10px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #6964E2;
    color: #fff;
    position: relative;

}

.form_a h2{
    margin-top: 80px;
}
.container p{
    text-align: center;
    font-size: 18px;
    line-height: 2;
    margin: 0 10px;
}
span{
    width: 200px;
    height: 50px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    width: 100px;
    height: 100px;
    background-color: #6964E2;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -70px;
}

.fa-desktop,
.fa-futbol,
.fa-martini-glass-empty{
    font-size: 30px;
    color: #f8b049;
}

span:hover{
    background-color: #0F2A3D;
    color: white;
    cursor: pointer;
}

footer{
    width: 100%;
    height: 330px;
    background-color: #CED8E1;
    display: flex;
    justify-content: center;
    position: relative;
}